@model FleetSystem.Models.Driver

@{
    ViewBag.Title = "Driver Details";
}

<h2>Details</h2>

<div>
    <h4>Driver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gender.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            ID Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDNumber)
        </dd>

        <dt>
           Date of Birth
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DriverId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
