@model FleetSystem.Models.TripRecord

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TripRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Driver.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trip.ServiceNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trip.ServiceNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Odometer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Odometer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoppingPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoppingPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Depart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Depart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassengersIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassengersIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassengersOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassengersOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
